* {
    padding: 0;
    margin: 0;
}
tr,
td {
    border: #000 1px solid;
}

td {
    background-color: #bbb;
    padding: 3px;
}
table {
    border: #000 1px solid;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    /* float: left; */

}

td div {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    visibility: hidden;
}


.on::before{
    content: '🚩';
}
.on div{
    width: 0;
    height: 0;
}
.text {
    width: 150px;
    height: 50px;
    background-color: #e5e5e5;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}
.level{
    width: 300px;
    height: 50px;
    background-color: #e5e5e5;
    line-height: 50px;
    text-align: center;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav {
    /* width:700px; */
    display: flex;
    justify-content: center;
}
.clear::after{
    content: '';
    clear: both;
    display: block;
}
button {
    width: 60px;
    height: 30px;
    /* border: transparent; */
}